
a {
    text-decoration: none;
    color: rgb(56, 54, 54);}
ul {
 list-style: none;
 display: flex;
 justify-content: space-evenly;
 flex-wrap: nowrap;
 flex-direction: row;
}
li {
    padding-left: 7%;
}

